* {
  box-sizing: border-box;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  letter-spacing: 0.1cap;
  font-size: 0.95rem;
}

html {
  display: flex;
  flex-direction: column;
  width: auto;
}

header {
  /* background-color: orange; */
}

body {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  max-width: 100%;
  background-color: rgb(255, 255, 255);
}

body > header, 
body > main,
body > footer {
  padding-left: 1em;
  padding-right: 1em;
}

main > section p,
footer > section p {
  border-collapse: collapse;
}

main > section ul {
  list-style-type: none;
  padding-left: 1em;
}

main > section ul li ol {
  padding-bottom: 1em;
}

main > section ul li:last-of-type ol:last-of-type {
  padding-bottom: initial;
}

main > .hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  height: 2px;
  background-color: black;
}

@media only screen and (max-width: 500px) {
  .console-border * {
    font-size: 12px;
  }
}